<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One:400,700|Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.signly.co/release/latest/signly.css">
    <link rel="stylesheet" href="style.css" >
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <h1><a href="/">Signly Test Page</a></h1>

    <ul>
      <li>
        <a href="#fast-facts">FAST FACTS</a>
      </li>
      <li>
        <a href="#problem">PROBLEM</a>
      </li>
      <li>
        <a href="#current">CURRENT</a>
      </li>
    </ul>

    <p>
      The British Deaf Association estimates that there are around 151,000 sign language users in the UK.
    </p>

    <h2 id="fast-facts">FAST FACTS</h2>

    <ol>
      <li>
        Deaf people who communicate using BSL often consider it to be their first language with English being their second language
      </li>

      <li>
        Educational provision for Deaf children is sometimes lacking so lower literacy may result in school leavers (as low as 8/9 years old)
      </li>

      <li>
        Combining these factors means essential content in written English can be incomprehensible
      </li>

      <li>
        A shortage of interpreters (1:75) doesn’t help
      </li>
    </ol>

    <h3 id="problem">PROBLEM</h3>

    <p>Deaf people are often excluded from access to essential content.</p>

    <p>
      Organisations don’t always know the best way to break down barriers and realise their ambition to be Deaf-friendly. It’s difficult to know what to do and how to do it.
    </p>

    <p>
      But organisations must provide equal access. Ignoring this is risky and there could be penalties for opting out. Plus there’s a social and financial ‘cost of doing nothing’.
    </p>

    <p>
      It’s easy to forget that just because it’s written doesn’t mean it’s understood.
    </p>

    <p>
      Barriers like this can result in Deaf customers being disadvantaged or feeling like second class citizens.
    </p>

    <h3 id="current">CURRENT</h3>

    <p>Some organisations offer a blend of the following:</p>

    <ul>
      <li>Face-to-face interpreting</li>
      <li>Video Relay Service (VRS)</li>
      <li>Others rely on written text</li>
      <li>Ad hoc methods - drawing, lipreading or the customer’s friends and relatives to help</li>
      <li>Deaf awareness training</li>
      <li>Saying it loudly or more slowly</li>
    </ul>

    <script src="https://cdn.signly.co/release/latest/signly.umd.min.js"></script>
  </body>
</html>
